* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#app {
  height: 100%;
  margin: 0;
  /* background-color: hsl(150, 8.30%, 95.30%); */
}
body {
  overflow: hidden; /* 取消滚动条 */
}
* {
  font-family: 'Noto Sans SC', sans-serif !important;
}
